/*------------------PORTFOLIO---------------------------*/
.button-filter {
  font-family: $main-font;
  font-weight: 500;
  background: #f5f4fa;
  border: 0px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-main-color;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 93px;
}
.button-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  background: $light-text-color;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-right: 30px;
}
.work-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.work-list-item:nth-child(3n) {
  margin-right: 0px;
}
.button-filter:hover,
.button-filter:focus {
  background: $accent-color;
  color: $light-text-color;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.work-list-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-main-color;
  margin-bottom: 4px;
}
.work-list-discription {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin: 0px;
  padding: 0px;
}
.work-list-text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $light-text-color;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.work-list {
  padding-bottom: 94px;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.work-list-item:hover .work-list-text {
  opacity: 1;
  transform: translateY(-100%);
}
.work-list-item:hover .text {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
